@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
}

.landing-view {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(4, 9, 30, 0.565),
      rgba(4, 9, 30, 0.577)
    ),
    url("./images/banner.png");
  background-size: cover;
  background-position: center center;
  position: relative;
  /* border: 2px solid red; */
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2.5% 5%;
}
.logo {
  /* border: 2px solid blue; */
  width: 75%;
}

.nav-links {
  flex-grow: 1;
  text-align: right;
  /* border: 2px solid red; */
  padding: 5px;
}

.nav-links ul {
  /* display: flex; */
  /* list-style-type: none; */
}
.nav-links ul li {
  display: inline-block;
  color: inherit;
  padding: 8px 15px;
}
.nav-links ul li a {
  color: #fff;
  font-size: 1.11222rem;
  text-decoration: none;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #ff0000;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  cursor: pointer;
  /* text-decoration: 3px underline coral;
  text-underline-offset: 4px; */
  width: 100%;
  transition-timing-function: ease-in-out;
}

.text-box {
  /* border: 4px solid black; */
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 20px 90px; */
  text-align: center;
}
.text-box h1 {
  font-size: 4rem;
  /* border: 2px solid red; */
}
.text-box p {
  /* border: 2px solid red; */
  padding: 20px 50px 30px;
  font-size: 14px;
  margin-bottom: 10px;
}

.button {
  /* margin-top: 90px; */
  padding: 15px 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  /* font-size: 1.11rem; */
  /* font-weight: 700; */
  text-decoration: none;
}

.button:hover {
  border-color: #ff0000;
  background-color: #ff0000;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box {
    /* border: 2px solid red; */
    width: 75%;
    height: 50%;
  }
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
    border-bottom: 1px solid #fff;
  }
  .nav-links {
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color: #ff0000;
    top: 0;
    right: -4440px;
    z-index: 2;
    text-align: left;
    transition: 0.5s;
  }
  nav .fa {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    margin: 10px;
  }
  .nav-links ul {
    padding: 20px;
  }
  .logo {
    width: 50%;
    margin-top: 7px;
  }
  .text-box h1 {
    letter-spacing: 1.5px;
    margin-bottom: 15px;
  }
  .text-box p {
    padding: 0 20px;
    margin-bottom: 50px;
  }
}

.courses,
.campus,
.facilites {
  width: 80%;
  margin: auto;
  /* border: 2px solid red; */
  text-align: center;
  padding-top: 100px;
  /* border: 2px solid red; */
}

.courses h1,
.campus h1,
.facilites h1 {
  font-size: 2rem;
  font-weight: 700;
}

.courses p,
.campus p,
.facilites p {
  color: #777;
  font-size: 14px;
  line-height: 22px;
  padding: 15px;
}

.row {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
}

.course-col {
  /* border: 2px solid #ff0000; */
  flex-basis: 31%;
  background-color: #fff3f3;
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 5%;
}

.course-col h3 {
  /* border: 2px solid red; */
  margin: 10px 0;
  font-weight: 700;
}

.course-col:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transition: 5ms;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.campus-col {
  flex-basis: 31%;
  overflow: hidden;
  border-radius: 6px;
  /* padding: 20px 5px; */
  margin-bottom: 5%;
  position: relative;
}
.campus-col img {
  width: 100%;
  height: 100%;
}
.layer {
  height: 100%;
  width: 100%;
  /* background-color: transparent; */
  position: absolute;
  top: 0;
  left: 0;
}
.layer:hover {
  background-color: rgba(225, 0, 0, 0.7);
  transition: 0.8s;
}

.layer h3 {
  font-weight: bolder;
  font-size: 1.2rem;
  /* border: 2px solid; */
  padding: 20px 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

.facilites-col {
  flex-basis: 31%;
  border-radius: 6px;
  margin-bottom: 5%;
  position: relative;
  background-color: #fff3f3;
  padding-bottom: 20px;
}

.facilites-col img {
  width: 100%;
}
.facilites-col h3,
p {
  text-align: center;
  padding-top: 20px;
}
.facilites-col h3 {
  letter-spacing: 1px;
}

.testimonial {
  /* border: 2px solid red; */
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
.testimonial h1 {
  font-size: 2rem;
}
.testimonial p {
  font-size: 14px;
  color: #777;
  padding: 20px;
  line-height: 22px;
}

.testimonial-col {
  flex-basis: 44%;
  position: relative;
  margin-bottom: 5%;
  /* border: 2px solid red; */
  display: flex;
  background-color: #fff3f3;
  border-radius: 10px;
  padding: 30px;
  text-align: left;
}
.testimonial-col img {
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 30px;
}
.testimonial-col div p {
  text-align: left;
  padding: 0;
}
.testimonial-col div h3 {
  margin-top: 15px;
  text-align: left;
}

.fa {
  margin-top: 12px;
  align-self: flex-start;
  color: #ff0000;
}
.cta {
  width: 80%;
  margin: 100px auto;
  padding: 100px 0;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/banner2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  color: white;
  border: 2px solid red;
}
.cta h1 {
  margin-bottom: 40px;
  padding: 0;
  font-size: 1.8rem;
  font-weight: bolder;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: calc(1.5 * 1rem);
    padding: 0 10px;
  }
  .testimonial-col img {
    margin-left: 0;
    margin-right: 15px;
  }
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  /* border: 2px solid blue; */
}
.footer h4 {
  /* border: 2px solid red; */
  margin: 15px 0;
  font-weight: 700;
}
.footer p {
  font-size: 14px;
  color: #777;
  padding: 0 15px;
}

.icons .fa {
  margin-right: 15px;
  font-size: 1.2rem;
  padding: 20px 0;
}

/* ------About Us Page----------*/
.about-landing-view,
.course-landing-view,
.blog-landing-view {
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("./images/background.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}
.about-landing-view h1,
.course-landing-view h1,
.blog-landing-view h1 {
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: 80px;
  font-weight: 700;
  font-size: 2rem;
}
.about-us {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  /* border: 2px solid red; */
}

.about-col {
  flex-basis: 41%;
  text-align: left;
  padding: 30px 2px;
}
.about-col h2 {
  /* border: 2px solid red; */
  font-size: 2rem;
}
.about-col p {
  padding: 10px 0 30px;
  text-align: left;
  font-size: 14px;
  color: #777;
}

.about-col img {
  width: 100%;
}
.red-button {
  border: 1px solid #f44336;
  color: #f44336;
}

/* Blog page */
.blog-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
  /* border: 2px solid red; */
}
.blog-content .row {
  justify-content: space-around;
}

.blog-col:first-child {
  flex-basis: 55%;
  /* padding: 30px 2px; */
}

.blog-col:first-child img {
  width: 100%;
}

.blog-col:first-child h2 {
  color: #222;
  margin: 30px 0;
}
.blog-col:first-child p {
  font-size: 14px;
  color: #777;
  text-align: left;
  padding: 0;
}

.blog-col:last-child {
  flex-basis: 32%;
}
.blog-col:last-child h3 {
  background-color: #f44336;
  padding: 7px 0;
  margin-bottom: 20px;
  text-align: center;
  color: #fff3f3;
  /* font-size: 1rem; */
}

.blog-col:last-child div {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  color: #555;
}
.blog-col:last-child div:hover {
  border: 1px solid #777;
  cursor: pointer;
}
.blog-col:last-child div span abbr {
  text-decoration: none;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 12px 24px;
}
.comment-box h3 {
  text-align: left;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  outline: none;
  background-color: #f0f0f0;
}

.comment-form button {
  margin: 10px 0;
}

@media (max-width: 700px) {
  .blog-landing-view h1 {
    font-size: 24px;
  }
}
.our-location {
  /* border: 2px solid red; */
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.our-location iframe {
  width: 100%;
}

.contact-us {
  /* border: 2px solid red; */
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 3%;
  /* border: 2px solid blue; */
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.contact-col div .fa {
  font-size: 1.4rem;
  margin: 10px;
  margin-right: 30px;
  /* padding: 3px; */
}
.contact-col p {
  /* border: 2px solid red; */
  padding: 0;
  /* font-size: 14px; */
  color: #555;
  text-align: left;
}

.contact-col h5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 5px;
  /* color: #555; */
  /* letter-spacing: 0.2px; */
}

.contact-col form input,
.contact-col form textarea {
  padding: 15px;
  width: 100%;
  margin-bottom: 17px;
  border: 1px solid #ccc;
}

/* loading logo */

.loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  background-color: #fff;
  z-index: 99;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}
.loading.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}